set folder = "~/.mail/dev"
set smtp_url = "smtps://dev@mattiacabrini.com@smtps.aruba.it:465"
set from = "dev@mattiacabrini.com"
set smtp_pass = "`gpg --decrypt ~/.passwords/dev@mattiacabrini.com.gpg 2> /dev/null`"
set realname = "Mattia Cabrini"

mailboxes =Inbox =Sent =Drafts =Trash =Archivio 

set spoolfile = "+Inbox"
set record = "+Sent"
set trash = "+Trash"
set postponed = "+Drafts"
